.form-control {
    display: inline-block;
    width: auto;
}

form label.error {
    width: 100%;
    margin: 0;
    font-size: 80%;
    color: #dc3545;
}

.card {
    display: inline-block;
    width: 250px;
    margin: 10px;
    text-decoration: none;
}

a.card, a.card:hover {
    text-decoration: none;
}

.pagination > li a {
    color: #17a2b8 !important;
}

.pagination > li.active span {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.media {
    max-width: 1000px;
}

.media .cover-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.media img {
    width: 250px;
    height: auto;
    opacity: 0.99;
    z-index: 1000;
}

.review-list {
    max-width: 1000px;
}

.stars {
    position: relative;
    font-size: 1em;
    line-height: 1.25em;
    font-family: FontAwesome;
    color: #ddd;
}

.stars:after {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    line-height: 1.25em;
    font-family: FontAwesome;
    color: #ffc700;
    white-space: nowrap;
    overflow: hidden;
    width: calc(var(--rating) / 5 * 100%);
    content: "★★★★★";
}

.rating-group label {
    margin: 0;
    padding: 0;
}

.rating-group > input {
    display: none;
}

.rating-group > label { 
    color: #ddd;
    float: right; 
}

.rating-group > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    cursor: pointer;
    content: "★";
}

.rating-group > input:checked ~ label {
    color: #ffc700;    
}
.rating-group:not(:checked) > label:hover,
.rating-group:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rating-group > input:checked + label:hover,
.rating-group > input:checked + label:hover ~ label,
.rating-group > input:checked ~ label:hover,
.rating-group > input:checked ~ label:hover ~ label,
.rating-group > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
