.form-control {
    display: inline-block;
    width: auto;
}

form label.error {
    width: 100%;
    margin: 0;
    font-size: 80%;
    color: #dc3545;
}

.card {
    display: inline-block;
    width: 250px;
    margin: 10px;
    text-decoration: none;
}

a.card, a.card:hover {
    text-decoration: none;
}

.pagination > li a {
    color: #17a2b8 !important;
}

.pagination > li.active span {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}