.form-control {
    display: inline-block;
    width: auto;
}

form label.error {
    width: 100%;
    margin: 0;
    font-size: 80%;
    color: #dc3545;
}

.card {
    display: inline-block;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #333;
}

@media (max-width: 575px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 5;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 7;
    }
}