{% extends "layout.html" %}

{% block body %}

<div class="container row">
    <div class="col-sm-6">
        <h1>{{ book_data[0]['title'] }}</h1>
        <h3>Author: {{ book_data[0]['author'] }}</h3>
        <h4>Published: {{ book_data[0]['year'] }}</h4>
        <h5>ISBN: {{ book_data[0]['isbn'] }}</h5>
    </div>

    <div class="col-sm-6">
        <h2>Goodread.com rating:</h2>
        <h3>Average Rating: {{ 'No information' if rating_data == None else rating_data['average_rating'] }}</h3>
        <h5>Number of Ratings: {{ 'No information' if rating_data == None else rating_data['work_ratings_count'] }}</h5>
    </div>
</div>

<div>
    <h3>Leave your review:</h3>
    <form action="{{ url_for('book', isbn=book_data.isbn) }}" method="post">
        <div class="form-group col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="rating">Rating</label>
                </div>
                <select class="custom-select" name="rating" id="rating" required>
                    {% for rating in range(1, 6) %}
                    <option value="{{ rating }}">{{ rating }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="input-group">
                <textarea class="form-control" rows="3" name="comment" placeholder="Your review"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<div>
    <h3>{{ 'No reviews yet' if book_data[0]['username'] == None else book_data|length ~ ' Review' ~ ('s' if book_data|length > 1) }}</h3>
    <div class="list-group">
        {% if book_data[0]['username'] %}
        {% for review in book_data %}
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">{{ review['username'] }}</p>
                <small>{{ review['created_on'] }}</small>
            </div>
            <h5 class="mb-1">{{ review['comment'] or "The user didn't leave the review." }}</h5>
            <small>Rating: {{ review['rating'] }}</small>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}