{% extends "layout.html" %}

{% block body %}

<div class="container row">
    <div class="col-sm-6">
        <h1>{{ book_data['title'] }}</h1>
        <h3>Author: {{ book_data['author'] }}</h3>
        <h4>Published: {{ book_data['year'] }}</h4>
        <h5>ISBN: {{ book_data['isbn'] }}</h5>
    </div>

    <div class="col-sm-6">
        <h2>Goodread.com rating:</h2>
        <h3>Average Rating: {{ rating_data['average_rating'] }}</h3>
        <h5>Number of Ratings: {{ rating_data['work_ratings_count'] }}}</h5>
    </div>
</div>

<div>
    <h3>Leave your review:</h3>
    <form action="{{ url_for('book', isbn=book_data.isbn) }}" method="post">
        <div class="form-group col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="rating">Rating</label>
                </div>
                <select class="custom-select" name="rating" id="rating" required>
                    {% for rating in range(1, 6) %}
                    <option value="{{ rating }}">{{ rating }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="input-group">
                <textarea class="form-control" rows="3" name="comment" placeholder="Your review"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}