{% extends "layout.html" %}

{% block title %}{{ book_data[0]['title'] }} - {% endblock %}

{% block body %}

<div class="d-flex justify-content-center mb-5 mt-4">
    <div class="media">
        <div class="mr-5 d-none d-sm-block">
            {% if desc_data['image'] == None %}
            <div class="no-cover bg-secondary">
                <p class="no-cover-message text-white text-nowrap">No cover</p>
            </div>
            {% else %}
            <img src="{{ desc_data['image'] }}" alt="Cover">
            {% endif %}
        </div>
        <div class="media-body">
            <h2 class="text-info">{{ book_data[0]['title'] }}</h2>
            <h5>written by {{ book_data[0]['author'] }}</h5>
            <h6>published in {{ book_data[0]['year'] }}</h6>
            <h6>ISBN {{ book_data[0]['isbn'] }}</h6>
            <div class="dropdown-divider my-3"></div>
            {% if rating_data['goodreads'] == None %}
            <h6>goodreads.com: no information</h6>
            {% else %}
            <div class="mb-1">
                <h6 class="d-inline pr-1">goodreads.com:</h6>
                <div class="d-inline stars" style="--rating: {{ rating_data['goodreads']['average_rating'] }};">★★★★★</div>
                <h6 class="d-inline pl-1">{{ rating_data['goodreads']['average_rating'] }} ratings {{
                    rating_data['goodreads']['ratings_count'] }} </h6>
            </div>
            {% endif %}
            {% if rating_data['google'] == None %}
            <h6>google books: no information</h6>
            {% else %}
            <div class="mb-1">
                <h6 class="d-inline pr-1">google books:</h6>
                <div class="d-inline stars" style="--rating: {{ rating_data['google']['average_rating'] }};">★★★★★</div>
                <h6 class="d-inline pl-1">{{ rating_data['google']['average_rating'] }} ratings {{
                    rating_data['google']['ratings_count'] }} </h6>
            </div>
            {% endif %}
            <div>
                <h6 class="d-inline pr-1">book reviews rating:</h6>
                <div class="d-inline stars" style="--rating: {{ rating_data['books']['average_rating'] }};">★★★★★</div>
                <h6 class="d-inline pl-1">{{ rating_data['books']['average_rating'] }} ratings {{
                    rating_data['books']['ratings_count'] }} </h6>
            </div>
            <div class="dropdown-divider my-3"></div>
            <h6>About the book</h6>
            {% if desc_data['description'] == None %}
            <p>There's no description for this book.</p>
            {% else %}
            <p>{{ desc_data['description'] }}</p>
            {% endif %}
            <button class="btn btn-info" data-toggle="modal" data-target="#review-modal">Leave review</button>
        </div>
    </div>
</div>

<div class="review-list mx-auto mb-3">
    <h4 class="text-secondary mb-4">{{ 'No reviews yet' if book_data[0]['username'] == None else 'Reviews' }}</h4>
    <div class="list-group list-group-flush">
        {% if book_data[0]['username'] %}
        {% for review in book_data %}
        <div class="list-group-item bg-light">
            <div class="d-flex w-100 justify-content-between">
                <div class="d-flex">
                    <p class="mb-1 mr-3 text-info">{{ review['username'] }}</p>
                    <div class="stars" style="--rating: {{ review['rating'] }};">★★★★★</div>
                </div>
                <div class="d-flex">
                    <small class="text-secondary d-none d-sm-block">
                        {{ moment(review['created_on']).format('DD/MM/YYYY HH:mm:ss') }}
                    </small>
                    <small class="text-secondary d-block d-sm-none">
                        {{ moment(review['created_on']).format('DD/MM/YYYY') }}
                    </small>
                </div>
            </div>
            {% if review['comment'] %}
            <p class="mb-1">{{ review['comment'] }}</p>
            {% else %}
            <p class="mb-1 text-secondary">The user didn't leave the review.</p>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">What do you think of the book?</h5>
            </div>
            <form action="{{ url_for('book', isbn=book_data[0]['isbn']) }}" method="post" name="review">
                <div class="modal-body">
                    <div class="form-group btn-group">
                        <div class="rating-group">
                            <input type="radio" id="star5" name="rating" value="5"/>
                            <label for="star5" title="5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4"/>
                            <label for="star4" title="4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3"/>
                            <label for="star3" title="3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2"/>
                            <label for="star2" title="2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1"/>
                            <label for="star1" title="1 star"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <textarea class="form-control" rows="3" name="comment"
                                      placeholder="Your review (optional)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info" disabled>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}

{% if pagination['pages'] > 1 %}
<nav aria-label="pagination">
    <ul class="pagination pagination justify-content-center">
        {% for item in pagination['items'] %}
        {% if item == '&laquo;' %}
        <li class="page-item">
            <a class="page-link"
               href="{{ url_for('book', isbn=book_data[0]['isbn'], page=pagination['page'] - pagination['neighbours_number'] * 2 - 1) }}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% elif item == '&raquo;' %}
        <li class="page-item">
            <a class="page-link"
               href="{{ url_for('book', isbn=book_data[0]['isbn'], page=pagination['page'] + pagination['neighbours_number'] * 2 + 1) }}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

        {% elif item == pagination['page'] %}
        <li class="page-item active"><span class="page-link">{{ item }}</span></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('book', isbn=book_data[0]['isbn'], page=item) }}">{{ item }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endif %}

{% endblock %}