{% extends "layout.html" %}

{% block body %}

<div class="text-center my-5">
    <h2 class="text-secondary mb-4">Search results</h2>
    <div class="d-flex flex-wrap align-items-center justify-content-center pb-4">
        {% for book in books %}
        <a href="{{ url_for('book', isbn=book.isbn) }}"
           class="card text-decoration-none shadow text-center bg-light text-dark p-3">
            <div class="card-body">
                <h5 class="card-text">{{ book['author'] }}</h5>
                <h4 class="card-text text-info">{{ book['title'] }}</h4>
                <h6 class="card-text">{{ book['year'] }}</h6>
                <h6 class="card-text">{{ book['isbn'] }}</h6>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block footer %}

{% if pagination['pages'] > 1 %}
<nav aria-label="pagination">
    <ul class="pagination pagination-lg justify-content-center">

        {% for item in pagination['items'] %}
        {% if item == '&laquo;' %}
        <li class="page-item">
            <a class="page-link"
               href="{{ url_for('search', page=pagination['page'] - pagination['neighbours_number'] * 2 - 1, **query_params) }}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% elif item == '&raquo;' %}
        <li class="page-item">
            <a class="page-link"
               href="{{ url_for('search', page=pagination['page'] + pagination['neighbours_number'] * 2 + 1, **query_params) }}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

        {% elif item == pagination['page'] %}
        <li class="page-item active"><span class="page-link">{{ item }}</span></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('search', page=item, **query_params) }}">{{ item }}</a>
        </li>
        {% endif %}
        {% endfor %}

    </ul>
</nav>

{% endif %}

{% endblock %}