{% extends "layout.html" %}

{% block body %}

<div class="d-flex justify-content-center mt-4">
    <div class="media">
        <div class="position-relative bg-secondary mr-5 d-none d-sm-block">
            <p class="cover-error text-white text-nowrap">No cover</p>
            <img src="http://covers.openlibrary.org/b/isbn/{{ book_data[0]['isbn'] }}-L.jpg" alt="Cover">
        </div>
        <div class="media-body">
            <h2 class="text-info">{{ book_data[0]['title'] }}</h2>
            <h5>written by {{ book_data[0]['author'] }}</h5>
            <h6>published in {{ book_data[0]['year'] }}</h6>
            <h6>ISBN {{ book_data[0]['isbn'] }}</h6>
            {% if rating_data == None %}
            <h6>rating: no information</h6>
            {% else %}
            <h6>goodreads.com: rating {{ rating_data['average_rating'] }} ratings {{ rating_data['work_ratings_count']
                }} </h6>
            {% endif %}
            <div class="dropdown-divider my-3"></div>
            <h6>About the book</h6>
            {% if desc_data == None %}
            <p>There's no description for this book.</p>
            {% else %}
            <blockquote>
                <p class="mb-0">{{ desc_data[0] }}</p>
                <footer class="blockquote-footer">{{ desc_data[1] }}</footer>
            </blockquote>
            {% endif %}
            <button class="btn btn-info" data-toggle="modal" data-target="#review-modal"
                    data-isbn="{{ book_data[0]['isbn'] }}">Leave review
            </button>
        </div>
    </div>
</div>

<div>
    <h3>{{ 'No reviews yet' if book_data[0]['username'] == None else book_data|length ~ ' Review' ~ ('s' if
        book_data|length > 1) }}</h3>
    <div class="list-group">
        {% if book_data[0]['username'] %}
        {% for review in book_data %}
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">{{ review['username'] }}</p>
                <small>{{ review['created_on'] }}</small>
            </div>
            <h5 class="mb-1">{{ review['comment'] or "The user didn't leave the review." }}</h5>
            <small>Rating: {{ review['rating'] }}</small>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">What do you think of the book?</h5>
            </div>
            <form action="{{ url_for('book', isbn=book_data[0]['isbn']) }}" method="post" name="review">
                <div class="modal-body">
                    <div class="form-group btn-group">
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value="5"/>
                            <label for="star5" title="5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4"/>
                            <label for="star4" title="4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3"/>
                            <label for="star3" title="3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2"/>
                            <label for="star2" title="2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1"/>
                            <label for="star1" title="1 star"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <textarea class="form-control" rows="3" name="comment"
                                      placeholder="Your review (optional)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info" disabled>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}