{% extends "layout.html" %}

{% block body %}

<div class="d-flex justify-content-center mt-4">
    <div class="media">
        <div class="position-relative bg-secondary mr-5 d-none d-sm-block">
            <p class="cover-error text-white text-nowrap">No cover</p>
            <img src="http://covers.openlibrary.org/b/isbn/{{ book_data[0]['isbn'] }}-L.jpg" alt="Cover">
        </div>
        <div class="media-body">
            <h2 class="text-info">{{ book_data[0]['title'] }}</h2>
            <h5>written by {{ book_data[0]['author'] }}</h5>
            <h6>published in {{ book_data[0]['year'] }}</h6>
            <h6>ISBN {{ book_data[0]['isbn'] }}</h6>
            {% if rating_data == None %}
            <h6>rating: no information</h6>
            {% else %}
            <h6>goodreads.com: rating {{ rating_data['average_rating'] }} ratings {{ rating_data['work_ratings_count']
                }} </h6>
            {% endif %}
            <div class="dropdown-divider my-3"></div>
            <h6>About the book</h6>
            {% if desc_data == None %}
            <p>There's no description for this book.</p>
            {% else %}
            <blockquote>
                <p class="mb-0">{{ desc_data[0] }}</p>
                <footer class="blockquote-footer">{{ desc_data[1] }}</footer>
            </blockquote>
            {% endif %}
        </div>
    </div>
</div>

<div>
    <h4 class="text-secondary mb-4">Leave your review:</h4>
    <form action="{{ url_for('book', isbn=book_data[0]['isbn']) }}" method="post">
        <div class="form-group col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="rating">Rating</label>
                </div>
                <select class="custom-select" name="rating" id="rating" required>
                    {% for rating in range(1, 6) %}
                    <option value="{{ rating }}">{{ rating }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="input-group">
                <textarea class="form-control" rows="3" name="comment" placeholder="Your review"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<div>
    <h3>{{ 'No reviews yet' if book_data[0]['username'] == None else book_data|length ~ ' Review' ~ ('s' if
        book_data|length > 1) }}</h3>
    <div class="list-group">
        {% if book_data[0]['username'] %}
        {% for review in book_data %}
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">{{ review['username'] }}</p>
                <small>{{ review['created_on'] }}</small>
            </div>
            <h5 class="mb-1">{{ review['comment'] or "The user didn't leave the review." }}</h5>
            <small>Rating: {{ review['rating'] }}</small>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}