{% extends "layout.html" %}

{% block body %}

<div class="text-center my-5">
    <h4 class="text-secondary mb-4">Find books easily using ISBN, title, year and author!</h4>
    <form action="{{ url_for('search') }}" method="get" name="search">
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title" autofocus>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="author" placeholder="Author">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="year" placeholder="Year">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="isbn" placeholder="ISBN">
        </div>
        <button type="submit" class="btn btn-info">Search</button>
    </form>

</div>

{% endblock %}